<hero class="hero">

    <div class="hero-content">

        <h1 class="hero-title">
            HASTA UN 50% DE DESCUENTO
        </h1>

        <h2 class="hero-subtitle">
            Ya están aquí las ofertas de fin de temporada
        </h2>

        <div class="hero__button">
            <a href="#section">
              <img src="./assets/images/ico-scroll-down.svg" alt="Button with scroll down">
            </a> <!-- Try to make it interactive-->
        </div>

        <!-- <button type="button" class="hero-button" </button> -->

    </div>

</hero>