<main class="main">
  
    <section class="text-1-main">

    <p class="feelings">Los sentimientos nos inspiran</p>
  
    <h1 class="conect-main">Conecta Contigo</h1>

        <p>
        Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
        </p>

        <button class="button-main">
            Comprar
        </button>

    </section>

    <section class="text-2-main">

        <h2>Año nuevo,<br>
        movimientos nuevos</h2>

        <article> 
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </article>

        <article>
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </article>

        <article>
            <h3>Exclusividad</h3>
            <p>Productos para miembros premium.</p>
        </article>

        <button class="button-main">
            Empezar ahora
        </button>

        <!-- 
            <button class="button-main">
            Comprar
            </button> 
         -->

    </section>

</main>
