<main class="main">
    <section class="main__text1">
        <p class="main__feelings">Los sentimientos nos inspiran</p>
        <h2 class="main__conect">Conecta Contigo</h2>
        <p class="main__p">
        Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
        </p>
        <a class="main__button" href="" target="_blank">
            Comprar
        </a>
    </section>

    <section class="main__text2">
        <h2 class="main__newyear">Año nuevo,<br>
        movimientos nuevos</h2>
    <div class="main__grid">
        <article class="main__train"> 
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </article>
        <article class="main__nivel">
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </article>
        <article class="main__exclusive">
            <h3>Exclusividad</h3>
            <p class="main__exclusividad">Productos para miembros premium.</p>
        </article>
    </div>
        <a class="main__button2" href="" target="_blank">
            Empezar ahora
        </a>
    </section>

</main>
