<main class="main">
    <section class="text-1-main">
        <p class="feelings">Los sentimientos nos inspiran</p>
        <h2 class="conect-main">Conecta Contigo</h2>
        <p class="p-main">
        Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
        </p>
        <a class="button-main" href="" target="_blank">
            Comprar
        </a>
    </section>

    <section class="text-2-main">
        <h2>Año nuevo,<br>
        movimientos nuevos</h2>
    <div class="grid">
        <article> 
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </article>
        <article>
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </article>
        <article>
            <h3>Exclusividad</h3>
            <p class="p-exclusividad">Productos para miembros premium.</p>
        </article>
    </div>
        <a class="button-main2" href="" target="_blank">
            Empezar ahora
        </a>
    </section>

</main>
