.footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: auto;
  justify-content:flex-start;
  align-items:center;
  text-align: center;
  color: white;
  list-style: none;
  background-color: #4a4a4a;
 
  
}

.items-list {
 line-height: 1.8;
 display: flex;
 justify-items: center;
 flex-direction: column;
 margin: 0;

}

.rrss-list {
line-height: 1.8;
padding-top: 50px;
padding-bottom: 5px;
display: flex;
justify-items: center;
flex-direction: column;
}

.rrss {
  text-decoration: none;
  color:white;
}

.footer__copy {
  padding-top: 50px;

}

.weloverun {
  padding-bottom: 10px;
  margin-top: 10px;
}

.heart {
  color: #f26002;
}

@media all and (min-width:768px) {

.footer {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: justify;
  padding: 56px 135px 42px 178px;
}

.rrss-list {
  text-align: start;
  margin-bottom:30px;
  
}

.footer_copy {
  order: -1;
}

}


