.footer {
  display: flex;
  flex-direction: column;
  margin-left: -32px;
  margin-bottom:-80px;
  width: auto;
  height: 60vh;
  justify-content:space-evenly;
  text-justify: distribute-all-lines;
  align-items:center;
  text-align: center;
  color: white;
  list-style: none;
  background-color: #4a4a4a;
  padding: 65px 0 36px;
  // padding-top: 30px;
  // padding-bottom: 10px;
}

.items-list {
 line-height: 1.8;
 display: flex;
 justify-items: center;
 justify-content: space-between;
 flex-direction: column;
 margin: -40px;
}

.rrss-list {
line-height: 1.8;
padding-top: 30px;
display: flex;
justify-items: center;
justify-content: space-between;
flex-direction: column;
}

.weloverun {
  padding-bottom: 10px;
}

.heart {
  color: #f26002;
}