.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 38px;
    height: 36px;
    color: #F26002;
    border-radius: 50%; 
    margin-top: 15px;
    background-color: #FFFFFF;
    padding-top: 3px; 
}

.hero-content {
    background-image: url("../images/cover.jpeg");
    display: flex;
    justify-content: center;
    height: 65vh;
    width: 100%;
}