
  .main {
    display:flex;
    flex-direction: column;
    border: 2px solid palevioletred;
    height: 100%;
    width: 100%;
    margin-bottom: 0;

    &__text1 {
      border: 2px solid blue;
      padding: 10px;
      padding-bottom: 50px;
      padding-top: 30px;
    }

    &__feelings {
      font-size: 15px; 
      padding:10px;
      color:#f26002;
    }

    &__conect {
      padding-left: 8px;
    }

    &__button {
      border: 2px solid #f26002;
      color:#f26002;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      margin:20px;
      width: 500px;
      border-radius: 22.5px;
      text-decoration: none;
    }

    &__p  {
      padding: 20px;
      line-height: 1.7;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      padding-left: 11px;
    }

    &__text2 {


    }



  // .button-main2 {
  //   background-color: #f26002;
  //   border: 2px solid #f26002;
  //   color: white;
  //   text-decoration: none;
  //   padding: 10px;
  //   margin:20px;
  //   border-radius: 22.5px;
  // }

  // .text-2-main {
  //   padding-top: 40px;
  // }

    &__text2 {
      padding: 30px;
      border: 3px solid red;
      background-color: #f2f2f2;
    }

    &__newyear {
      padding: 10px;
      padding-bottom:20px;
      text-align: center;
    }

    &__grid {
      text-align: center;
      
    }

    &__train {
      padding: 20px;
    }

    &__nivel {
      padding: 20px;
    }

    &__exclusive {
      padding:20px;
    }

    &__button2 {
      background-color: #f26002;
      font-size: 20px;
      color: white;
      text-decoration: none;
      padding: 10px;
      margin-top: 20px;
      border-radius: 22.5px;
      display: flex;
      justify-content: center; 
      width: 60%;
      margin-left: 20%;
    }


  }