
  .main {
    display:flex;
    flex-direction: column;
    border: 2px solid palevioletred;
    margin-top: 100px;
    height: 100%;
    margin-bottom: 0;
  }

  .feelings {
    font-size: 15px; 
  }

  .button-main {
    
    border: 2px solid #f26002;
    color:#f26002;
    padding: 10px;
    margin:20px;
    border-radius: 22.5px;
    text-decoration: none;
  }

  .p-main {
    padding: 25px;
  }

  .grid {
    
  }

  .p-exclusividad {
    padding-bottom: 25px;
  }

  .button-main2 {
    background-color: #f26002;
    border: 2px solid #f26002;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin:20px;
    border-radius: 22.5px;
  }





  .text-2-main {
    padding-top: 40px;
  }